h2 {
    // color: #1c63b8;
}
/* header */
header {
    .navbar-nav {
        .navlogo {
            width: 200px;
        }
    }
    .header-nav {
        @media all and (min-width: 992px) {
            .nav {
                overflow: hidden;
   
                & > li {
                    transform: translateX(-200px);
                    transition: 0.5s ease;
                }

                &.-open-logo {
                    & > li {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}

.header-style-11 .logo-header {
    width: 280px;
}

@media only screen and (max-width: 768px) {
    .header-style-11 .header-middle-wraper .logo-header {
        max-width: 220px;
    }
}


/* footer */
footer {
    .logo-footer {
        width: 300px;
    }
    .widget_address {
        a {
            color: white;
            &:hover {
                color: #1c63b8;
            }
        }
    }
    .copyrights-text {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}

/* 首頁 BANNER SLIDER */
.new-bullet-bar.tparrows:hover .tp-title-wrap {
    opacity: 0 !important;
}

.slder-text {
    position: absolute;
    padding: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.5);
    .text-lg {
        font-size: 56px;
        font-weight: 900;
        line-height: 1.3;
        color: #1c63b8;
        margin-bottom: 16px;
        font-family: 'Teko', sans-serif;
    }

    .text-sm {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.2;
        color: rgb(17, 17, 17);
        font-family: 'Teko', sans-serif;
    }
    @media all and (max-width: 1200px) {
        left: 10%;
        .text-lg {
            font-size: 48px;
            font-weight: 900;
        }
    
        .text-sm {
            font-size: 24px;
        }
    }
    @media all and (max-width: 768px) {
        padding: 30px;
        max-width: calc(100% - 30px);
        .text-lg {
            font-size: 36px;
            font-weight: 900;
        }
    
        .text-sm {
            font-size: 20px;
        }
    }
    @media all and (max-width: 576px) {
        max-width: calc(100% - 30px);
        left: 15px;
        .text-lg {
            font-size: 36px;
            font-weight: 900;
        }
    
        .text-sm {
            font-size: px;
        }
    }
}

/* 首頁 驗證與認證+關於福昌內文 */
.certified p,
.about p,
.news p {
    font-size: 20px;
}

// 首頁 驗證語認證
.owl-carousel .owl-dots .owl-dot span {
    background: #a0b3c0;
}

/* 首頁 關於福昌圖片 */
.about-max-11-position:before {
    background-image: url(../images/bg/bg-plus.png);
}

.about-max-11-position.right {
    padding: 50px 00px 50px 50px;
}

.about-max-11-position.right:before {
    background-image: url(../images/bg/bg-plus.png);
    transform: rotate(180deg);
    left: 10px;
}

.colarge-1::before {
    content: none;
}
.colarge-1::after {
    width: 95%;
    height: 95%;
}

/* 首頁 最新消息 */ 
.news {
    .about-max-11 {
        width: 100%;
    }
    a {
        font-size: 20px;
    }
}

/* 首頁 聯絡我們 */ 
.contact {
    p {
        margin-bottom: 8px;
    }
    p, h4 {
        text-align: start;
    }
    .header-info-wraper {
        position: relative;
        // top: -100%;
        padding: 25px 60px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        z-index: 10;
        background-color: white;
        @media all and (max-width: 575.98px) {
            padding: 15px 20px;
        }
        ul {
            li {
                width: 33%;
                .wt-icon-box-wraper.left {
                    justify-content: space-between;
                }
            }
            @media all and (max-width: 991.98px) {
                display: flex;
                flex-direction: column;
                li {
                    width: 100%;
                    .wt-icon-box-wraper.left {
                        justify-content: start;
                        &::after {
                            display: none;
                        }
                    }
                    .icon-content {
                        text-align: left;
                    }
                    p {
                        font-size: 16px;
                        margin-bottom: 8px;
                    }
                    h4 {
                        font-size: 18px;
                    }
                }
            }

        }
        .wt-tilte {
            margin-bottom: 0;
        }
        .wt-icon-box-xs.site-bg-primary.radius {
            width: 40px;
            flex-shrink: 0;
        }
    }
    .content-box {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .img_box {
        width: 100%;
        &::before {
            content: "";
            position: relative;
            display: block;
            padding-bottom: 54%;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
    @media all and (max-width: 767.8px) {
        .content-box {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            z-index: 1;
        }
        .img_box {
            display: none;
            width: 100%;
            &::before {
                content: "";
                position: relative;
                display: block;
                padding-bottom: 54%;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
    }
}

// 內容頁 標題
.wt-separator-two-part-left .section-head {
    margin-bottom: 30px;
}
.section-head h2 {
    margin-bottom: 0;
}

.section-head p {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
}

.service-border-box.service-image-box {
    height: 100%;
}

.wt-box.service-box-1 {
    height: 100%;
}

.project-img-effect-1 {
    height: 100%;
    .wt-info {
        height: 100%;
    }
}

// 產品與服務
.product-service {
    .wt-product-title h2 {
        font-size: 36px;
        @media all and (max-width: 576px) {
            font-size: 28px;
        }
    }
    .wt-product-text p {
        font-size: 18px;
    }
}

// 電子型錄
.catalog {
    .wt-separator-two-part-left .section-head {
        margin-bottom: 0;
    }
    @media all and (max-width: 768px) {
        h3.s-title-one {
            font-size: 28px;
        }
    }
    @media all and (max-width: 575.8px) {
        h3.s-title-one {
            font-size: 24px;
        }
    }
}
